<div class="content">
    <div class="colis" *ngFor="let colis of colisList">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <p class="colis-data">colisType: &nbsp;</p>
            <p>{{ colis?.colisType }}</p>
          </div>
          <div class="row">
            <p class="colis-data">colis Hauteur: &nbsp;</p>
            <p>{{ colis?.colisHauteur }} {{ colis?.colisUnite }}</p>
          </div>
          <div class="row">
            <p class="colis-data">colis Poids: &nbsp;</p>
            <p>{{ colis?.colisPoids }} kg  </p>
          </div>
          <div class="row">
            <p class="colis-data">colis Largeur: &nbsp;</p>
            <p>{{ colis?.colisLargeur }} {{ colis?.colisUnite }}</p>
          </div>
          <div class="row">
            <p class="colis-data">colis Profondeur: &nbsp;</p>
            <p>{{ colis?.colisProfondeur }} {{ colis?.colisUnite }}</p>
          </div>
          <!-- <div class="row">
            <p class="colis-data">colis Unite: &nbsp;</p>
            <p>{{ colis?.colisUnite }}</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  