<div class="container" >
    <div class="content">
        <h2 class="title">Demande detail</h2>
        <div class="items">
            <app-carousel class="app-carousel" [items]="carouselItems"></app-carousel>
        </div>
    <div class="adresse-details">
        <div class="adresse"></div>
        <!-- ETAGE IF HOUSE -->
        <div class="from">
            <p class="title">From</p>
            <div class="from-content">
                <p><i class="fa-solid fa-location-dot icon"></i>{{projet?.demande?.depart}}</p>
                <div class="from etage">
                    <p><i class="fa-solid fa-stairs icon"></i>premier étage</p>
                    <p><i class="fa-solid fa-elevator icon"></i>Avec assenceur</p>
                </div>
            </div>
        </div>
        <div class="to">
            <p  class="title">To</p>
           <div class="to-content">
                <p><i class="fa-solid fa-location-dot icon"></i>{{projet?.demande?.arrivee}}</p>
                <div class="to etage">
                    <p><i class="fa-solid fa-stairs icon"></i>2 ème étage</p>
                    <p><i class="fa-solid fa-elevator icon"></i>Sans assenceur</p>
                </div>
           </div>
        </div>
        <div class="etage">
            
            
        </div>
    </div>
    <div class="special-details">
        <p class="title">Special details</p>
        <p>This is my special details</p>
    </div>
    <div >
        <p class="title">Images</p>
        <div class="images">
            <img src="./../../../../assets/bugatti.jpg" alt="">
        <img src="./../../../../assets/bugatti.jpg" alt="">
        <!-- <img src="./../../../../assets/bugatti.jpg" alt=""> -->
        <img src="./../../../../assets/bugatti.jpg" alt="">
        </div>
    </div>
    </div>
</div>
