<div class="container">
    <div class="content">
        <h2 class="title">Demande detail</h2>
        <div class="items">
            <app-carousel class="app-carousel" [items]="carouselItems"></app-carousel>
        </div>
    <div class="adresse-details">
        <div class="adresse"></div>
        <!-- ETAGE IF HOUSE -->
        <div class="from">
            <p>From</p>
            <h2>Oujda hay andalous</h2>
        </div>
        <div class="to">
            <p>To</p>
            <h2>Saidia</h2>
        </div>
        <div class="etage">
            <div class="from etage">
                <p>premier étage</p>
                <p>Avec assenceur</p>
            </div>
            <div class="to etage">
                <p>2 ème étage</p>
                <h2>Sans assenceur</h2>
            </div>
        </div>
    </div>
    <div class="special-details">
        This are the special details
    </div>
    <div class="images">
        <img src="./../../../../assets/bugatti.jpg" alt="">
    </div>
    </div>
</div>
