.container{
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    // height: 100%;
}

.content{
    width: 95%;
    padding-left: 15px;
    .title{
        color: var(--primary_color);
        font-family: 'Pacifico',sans-serif;
        margin-bottom: 7px;
        font-size: 27px;
        font-weight: 200;
    }
}


.items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    gap: 10px;


 
}
img{
    width: 150px;
}


/* Add necessary styling for the carousel container */
.items-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .app-carousel{
    width: 100%;
    // height: fit-content;
    // background-color: antiquewhite;
  }
  
  /* Optional: Style the carousel navigation arrows */
  .slick-prev,
  .slick-next {
    font-size: 20px;
  }
  
  /* Optional: Style the carousel navigation dots */
  .slick-dots li button:before {
    font-size: 10px;
    color: #fff;
  }
  
  /* Style the items inside the carousel */
  .items{
    display: flex;
    flex-direction: row !important;
    // background-color: red;
    
  }
//   .item {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 10px;
//     border-radius: 10px;
//     border: 2px solid var(--primary_color);
//     padding: 10px;
//   }
  
//   .item span {
//     font-weight: 500;
//     font-size: 15px;
//   }
  
//   .item i {
//     color: var(--primary_color);
//   }