<div class="container" >
    <div class="content">
        <h2 class="title">Demande details </h2>
        <app-car-details *ngIf="demande?.specificDemande.type=='car'" [carDemande]="demande"></app-car-details>
        <app-moto-details *ngIf="demande?.specificDemande.type=='moto'" [motoDemande]="demande"></app-moto-details>
        <app-colis-details *ngIf="demande?.specificDemande.type=='colis'" [colisDemande]="demande"></app-colis-details>
        <app-meuble-details *ngIf="demande?.specificDemande.type=='meuble'" [meubleDemande]="demande"></app-meuble-details>
        
    <div class="adresse-details">
        <div class="adresse"></div>
        <div class="from" >
            <p class="title">From</p>
            <div class="from-content">
                <p><i class="fa-solid fa-location-dot icon"></i>{{demande?.villeDepart}}</p>
                <!-- <div class="from etage">
                    <p><i class="fa-solid fa-stairs icon"></i>premier étage</p>
                    <p><i class="fa-solid fa-elevator icon"></i>Avec assenceur</p>
                </div> -->
            </div>
        </div>
        <div class="to">
            <p  class="title">To</p>
           <div class="to-content">
                <p><i class="fa-solid fa-location-dot icon"></i>{{demande?.villeArrivee}}</p>
                <!-- <div class="to etage">
                    <p><i class="fa-solid fa-stairs icon"></i>2 ème étage</p>
                    <p><i class="fa-solid fa-elevator icon"></i>Sans assenceur</p>
                </div> -->
           </div>
        </div>
        <!-- <div class="etage">
            
            
        </div> -->
    </div>
   
    
    <div class="special-details">
        <p class="title">Special details</p>
        <p>This is my special details</p>
    </div>


    <div >
        <p class="title">Images</p>
        <div class="images">
            <ng-container *ngIf="demande?.firstImageUrl">
                <img [src]="'../../../../assets/' + getFileNameFromPath(demande.firstImageUrl)" alt="">
            </ng-container>
            <ng-container *ngIf="demande?.secondImageUrl">
                <img [src]="'../../../../assets/' + (demande?.secondImageUrl ? getFileNameFromPath(demande?.secondImageUrl) : '')" alt="">
            </ng-container>
            <ng-container *ngIf="demande?.thirdImageUrl">
                <img [src]="'../../../../assets/' + (demande?.thirdImageUrl ? getFileNameFromPath(demande?.thirdImageUrl) : '')" alt="">
            </ng-container>

        </div>
    </div>

    <div class="price-row">
        <form [formGroup]="priceSuggestedForm" (ngSubmit)="addPriceSuggestion()">
        <input type="text" placeholder="enter the price suggested" formControlName="priceSuggested">
        <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    
    </div>
    
      
</div>


