@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Prata&display=swap'); 
.container{
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    // width: 100%;
    // height: 100%;
    // margin-top: ;
    border-radius: 30px;

}

.content{
  // background-color: red;
    width: 95%;
    // margin: auto;
    padding-left: 10px;
   
    .title{
        color: var(--primary_color);
        margin-bottom: 7px;
        font-size: 23px;
        font-weight: 600;
        .fa-circle-info{
          font-size: 25px;
        }
    }
    .adresse-details{
      background-color: white;
      padding: 5px 0 5px 5px;
      margin-top: 15px;
      border-radius: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      .row{
        .col{
          .title{
            color: var(--secondary_color);
          }
          .ville{
            color: var(--gray_color);
          }
        }
      }
    }
    .special-details{
      .title{
        color: var(--secondary_color);
        font-size: 20px;
        text-decoration: underline;
        font-weight: 200;
      }
    }
    div{
      .img-title{
        font-size: 20px;
        text-decoration: underline;
        font-weight: 200;
        color: var(--secondary_color);
      }
    }
}


.items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    gap: 10px;
    // margin-bottom: 40px;
  
 
}
img{
    width: 150px;
}



.items-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .app-carousel{
    width: 100%;

  }
  
  .slick-prev,
  .slick-next {
    font-size: 20px;
  }
  
  .slick-dots li button:before {
    font-size: 10px;
    color: #fff;
  }
  
  .items{
    display: flex;
    flex-direction: row !important;
    
  }
  .icon{
    margin-right: 5px;
    font-size: 15px;
    color: var(--gray_color);
  }
  .row{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    // align-items: center;
    gap: 70px;
    // margin-left: -20px;
  }
  .from{
    margin-bottom: 20px;
  }
  .from-content,.to-content{
    margin-left: 20px;
  }
  .images{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding-bottom: 0px;
    margin-top: 25px;
    margin: 25px auto !important;
    img{
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 5px;
    }
  }
  .special-details{
    margin-top: 15px;
    margin-bottom: 15px;
  }
.price-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  input{
    padding: 15px 25px;
    width: 100%;
    border: 1px solid var(--gray_color);
    border-radius: 5px;
  }
  .btn{
    background-color: var(--primary_color);
    color: white;
    padding: 8px;
    text-align: center;
    border: none;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    margin-left: 4rem;
  }
  .btn:hover{
    background-color: #30aedb;
}

}