<div class="content">
    <div *ngFor="let category of meubleItems | keyvalue">
        <div class="card">
          <div class="card-header">{{ category.key }}</div>
          <div class="card-body">
            <ul>
              <li *ngFor="let item of category.value">{{ item }}</li>
            </ul>
          </div>
        </div>
      </div>

   <div class="option">
    <h2 class="title">Option logistique</h2>
    <p class="small-title">Enlevement type</p>
      <p class="text"><i class="fa-solid fa-house icon"></i>{{meubleDemande.specificDemande.enlevementType}}</p>
      <p class="text"><i class="fa-solid fa-stairs icon"></i>{{meubleDemande.specificDemande.enlevementEtage}}</p>
      <p class="text"><i class="fa-solid fa-elevator icon"></i>{{meubleDemande.specificDemande.enlevementAvecSansAssenceur}}</p>

      <p class="small-title">livraison type</p>
      <p class="text"><i class="fa-solid fa-house icon"></i>{{meubleDemande.specificDemande.livraisonType}}</p>
      <p class="text"><i class="fa-solid fa-stairs icon"></i>{{meubleDemande.specificDemande.livraisonEtage}}</p>
      <p class="text"><i class="fa-solid fa-elevator icon"></i>{{meubleDemande.specificDemande.livraisonAvecSansAssenceur}}</p>

   </div>
      
</div>