/* Style for the cards */
.card {
  border: 1px solid #ccc;
  margin: 10px;
  width: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the card header */
.card-header {
  background-color: var(--primary_color);
  color: white;
  padding: 8px;
  font-weight: bold;
  text-align: center;
}

/* Style for the card body */
.card-body {
  padding: 10px;
}

/* Style for the list items */
ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
  padding-left: 20px;
  position: relative;
  list-style: none !important;
}

/* Style for the bullet points */
li:before {
  content: "\2022";
  position: absolute;
  left: 0;
}
