
<div class="table-container">
    <div class="first-row">
        <div class="table-title">
            <h2>Projets de déménagement</h2>
          </div>
          


          <div class="paging-buttons">
            <button class="btn-1">page</button>
            <select >
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
            </select>
            <button class="btn-2">of 5</button>
          </div>
    </div>

    <div class="bottom">
        
       
        <div class="table-responsive">
          <table class="custom-table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Nom et prénom</th>
                <th>telephone</th>
                <th>départ</th>
                <th>arrivée</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor ="let projet of projets" (click)="onRowClicked(projet)">
                <td><img src="./../../../../assets/OIP.jpeg" alt="#"></td>
                <!-- <td>{{projet.userDemanding.name}}</td>
                <td>{{projet.userDemanding.phoneNumber}}</td>
                <td>{{projet.demande.typeLivraison}}</td>
                <td>{{projet.demande.typeLivraison}}</td> -->
              </tr>
             
            
              <!-- Add more rows as needed -->
            </tbody>
          </table>
        </div>
    </div>
  </div>
