/* Container styles */
.table-container {
    margin: 0 auto;
    color: black;
    padding: 20px;
    padding: 0px;
  }
  .first-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
  }
  .paging-buttons{

    button{
      border: none;
      width: 60px;
      height: 40px;
      background-color: #85C1C1;
      color: white;

    }
    .btn-1{
      border-radius: 5px 0px 0px 5px;

    }
    .btn-2{
      border-radius: 0px 5px 5px 0px;

    }
    select{
      width: 70px;
      height: 39.5px;
      margin: 0px;
      // border: 1px solid black;

      border: none;
      // border-bottom: none;
    }
    option{
      // margin-left: 5px;
    }
  }
  .bottom{
    background-color: white;
    margin-top: -10px;
    padding: 10px 0px;
    border: 1px solid var(--gray_color);

  }
  
  /* Table title styles */
  .table-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .table-title h2 {
    color: var(--primary_color);
    font-family:'Prata',serif;
    margin-bottom: 7px;
    font-size: 27px;
    font-weight: 200;
    white-space: nowrap;

  }
  
  /* Table styles */
  .table-responsive {
    overflow-x: auto;
    padding: 20px;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
  
  }
  
  .custom-table th,
  .custom-table td {
    padding: 12px;
    text-align: left;

  }
  td{
    cursor: pointer;

  }
  
  .custom-table th {
    background-color: var(--primary_color);
    color: white;
    
  }
  
  /* Alternating row colors */
  .custom-table tbody tr:nth-child(even) {
    background-color: #f3efef; /* Very light gray for odd rows */
  }
  
  /* Table paging styles */
  .table-paging { 
    padding-top: 10px;
    margin-left: 23px;
    background-color: white;
    
  }
  
  .paging-info
  {
    
    background-color: #85C1C1;
    border-radius: 5px;
    width: fit-content;
    padding: 12px;
    font-size: 17px;
    color: white;
    select{
      color: #85C1C1;
      border-color: #85C1C1;

    }
    
  }
  .paging-info{
    margin-right: 20px;
  }

  .paging-buttons button:hover {
    background-color: #348888;
  }
  
  .paging-buttons span {
    margin: 5px 0; /* Add some spacing between the pagination and the number of pages */
  }
  

  .paging-info select:focus {
    outline: none;
  }
  
 
  img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    // height: 10;
    object-fit: cover;
    margin-top: 5px;
  }
  
  @media (max-width: 1100px) {
    .table-container
    .first-row{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      padding: 10px 30px;
      padding-bottom: 20px;
    }
    .table-container {
      max-width: 100%;
    }
    .table-paging {
      flex-direction: column;
    }
    .paging-info,
    .paging-buttons {
      margin-bottom: 10px;
      white-space: nowrap;
    }
    
}

  
  /* Media query for responsiveness */
  @media screen and (max-width: 600px) {
     .table-title h2{
      margin-left: -50px !important;
     }
     .paging-buttons{
      margin-left: -25px !important;
     }
  }
  @media screen and (max-width: 500px) {
    .table-title h2{
     white-space: wrap;
    }
    .paging-buttons{
     margin-left: -25px !important;
    }
 }
