
<div class="tab-container">
  

  <div class="tab-wrapper">
    <div class="tab" (click)="openTab(0)" [class.active]="activeTab === 0">
      <i class="fas fa-couch"></i>

      salon
    </div>
    <div class="tab" (click)="openTab(1)" [class.active]="activeTab === 1">
      <i class="fas fa-utensils"></i>

      salle à manger
    </div>
    <div class="tab" (click)="openTab(2)" [class.active]="activeTab === 2">
      <i class="fas fa-blender"></i>

      Cuisine
    </div>
    <div class="tab" (click)="openTab(3)" [class.active]="activeTab === 3">
      <i class="fas fa-laptop"></i>

      bureau
    </div>
    <div class="tab" (click)="openTab(4)" [class.active]="activeTab === 4">
      <i class="fas fa-bed"></i>

      chambres
    </div>
    <div class="tab" (click)="openTab(5)" [class.active]="activeTab === 5">
<i class="fas fa-faucet"></i>

      salle de bain
    </div>
    <div class="tab" (click)="openTab(6)" [class.active]="activeTab === 6">
      <i class="fas fa-tree"></i>

      Jardin et balcon
    </div>
   

  </div>

  <div class="tab-content-wrapper">
    <div class="tab-content" [class.show]="activeTab === 0">
        <app-item-row itemName="Canape 2 place"></app-item-row>
        
      <app-item-row itemName="Canape 3 place"></app-item-row>
    <app-item-row itemName="Fauteuil"></app-item-row>
    <app-item-row itemName="Table d'appoint"></app-item-row>
    <app-item-row itemName="Télevision"></app-item-row>
    <app-item-row itemName="Bureau"></app-item-row>

     
      
    </div>
    <div class="tab-content" [class.show]="activeTab === 1">
      
      <app-item-row itemName="Table - 6 places"></app-item-row>
      <app-item-row itemName="Table salle à manger - 8/10 places"></app-item-row>
      <app-item-row itemName="Armoire"></app-item-row>
      <app-item-row itemName="Buffet"></app-item-row>
      <app-item-row itemName="Meuble"></app-item-row>
      <app-item-row itemName="Tapis"></app-item-row>

    </div>
    
    <div class="tab-content" [class.show]="activeTab === 2">
      <app-item-row itemName="Table de cuisine"></app-item-row>
      <app-item-row itemName="Chaises"></app-item-row>
      <app-item-row itemName="Frigo"></app-item-row>
      <app-item-row itemName="Frigo - congélateur"></app-item-row>
      <app-item-row itemName="Machine à laver"></app-item-row>
      <app-item-row itemName="Four"></app-item-row>

      
    </div>

    <div class="tab-content" [class.show]="activeTab === 3">

      <app-item-row itemName="Bureau"></app-item-row>
<app-item-row itemName="Chaise de bureau"></app-item-row>
<app-item-row itemName="Piédestal"></app-item-row>
<app-item-row itemName="Meuble d'archivage"></app-item-row>
<app-item-row itemName="Ordinateur de bureau"></app-item-row>
<app-item-row itemName="Imprimante"></app-item-row>


  
    </div>
    <div class="tab-content" [class.show]="activeTab === 4">
      
      <app-item-row itemName="Lit double"></app-item-row>
      <app-item-row itemName="Lit simple"></app-item-row>
      <app-item-row itemName="Table de chevet"></app-item-row>
      <app-item-row itemName="Garde-robe"></app-item-row>
      <app-item-row itemName="Coiffeuse"></app-item-row>
   
    </div>
    <div class="tab-content" [class.show]="activeTab === 5">
      
      <app-item-row itemName="Meubles de rangement"></app-item-row>
      <app-item-row itemName="Chaises salle à manger"></app-item-row>
      <app-item-row itemName="Miroir"></app-item-row>
      <app-item-row itemName="Baignoire"></app-item-row>
      <app-item-row itemName="Lavabo"></app-item-row>
      <app-item-row itemName="Tapis"></app-item-row>

     
    </div>
    <div class="tab-content" [class.show]="activeTab === 6">
      <app-item-row itemName="Table de jardin"></app-item-row>
      <app-item-row itemName="Chaises"></app-item-row>
      <app-item-row itemName="Parasol"></app-item-row>
      <app-item-row itemName="Banc"></app-item-row>
      <app-item-row itemName="Barbecue"></app-item-row>
      <app-item-row itemName="TapiVélos"></app-item-row>

    </div>
  </div>


</div>

 





