<div class="tab-container">
  

  <div class="tab-wrapper">
    <div class="tab" (click)="openTab(0)" [class.active]="activeTab === 0">
      <i class="fas fa-couch"></i>

      salon
    </div>
    <div class="tab" (click)="openTab(1)" [class.active]="activeTab === 1">
      <i class="fas fa-utensils"></i>

      salle à manger
    </div>
    <div class="tab" (click)="openTab(2)" [class.active]="activeTab === 2">
      <i class="fas fa-blender"></i>

      Cuisine
    </div>
    <div class="tab" (click)="openTab(3)" [class.active]="activeTab === 3">
      <i class="fas fa-laptop"></i>

      bureau
    </div>
    <div class="tab" (click)="openTab(4)" [class.active]="activeTab === 4">
      <i class="fas fa-bed"></i>

      chambres
    </div>
    <div class="tab" (click)="openTab(5)" [class.active]="activeTab === 5">
<i class="fas fa-faucet"></i>

      salle de bain
    </div>
    <div class="tab" (click)="openTab(6)" [class.active]="activeTab === 6">
      <i class="fas fa-tree"></i>

      Jardin et balcon
    </div>
   

  </div>

  <div class="tab-content-wrapper">
    <div class="tab-content" [class.show]="activeTab === 0">
        <app-item-row itemName="Canape 2 place" typeFourniture="salon"></app-item-row>
        
      <app-item-row itemName="Canape 3 place" typeFourniture="salon" ></app-item-row>
    <app-item-row itemName="Fauteuil" typeFourniture="salon"></app-item-row>
    <app-item-row itemName="Table d'appoint" typeFourniture="salon"></app-item-row>
    <app-item-row itemName="Télevision" typeFourniture="salon"></app-item-row>
    <app-item-row itemName="Bureau" typeFourniture="salon"></app-item-row>

     
      
    </div>
    <div class="tab-content" [class.show]="activeTab === 1">
      
      <app-item-row itemName="Table - 6 places" typeFourniture="salle à manger"></app-item-row>
      <app-item-row itemName="Table - 8/10 places" typeFourniture="salle à manger"></app-item-row>
      <app-item-row itemName="Armoire" typeFourniture="salle à manger"></app-item-row>
      <app-item-row itemName="Buffet" typeFourniture="salle à manger"></app-item-row>
      <app-item-row itemName="Meuble" typeFourniture="salle à manger"></app-item-row>
      <app-item-row itemName="Tapis" typeFourniture="salle à manger"></app-item-row>

    </div>
    
    <div class="tab-content" [class.show]="activeTab === 2">
      <app-item-row itemName="Table de cuisine" typeFourniture="cuisine"></app-item-row>
      <app-item-row itemName="Chaises" typeFourniture="cuisine"></app-item-row>
      <app-item-row itemName="Frigo" typeFourniture="cuisine"></app-item-row>
      <app-item-row itemName="Frigo - congélateur" typeFourniture="cuisine"></app-item-row>
      <app-item-row itemName="Machine à laver" typeFourniture="cuisine"></app-item-row>
      <app-item-row itemName="Four" typeFourniture="cuisine"></app-item-row>

      
    </div>

    <div class="tab-content" [class.show]="activeTab === 3">

      <app-item-row itemName="Bureau" typeFourniture="bureau"></app-item-row>
<app-item-row itemName="Chaise de bureau" typeFourniture="bureau"></app-item-row>
<app-item-row itemName="Piédestal" typeFourniture="bureau"></app-item-row>
<app-item-row itemName="Meuble d'archivage" typeFourniture="bureau"></app-item-row>
<app-item-row itemName="Ordinateur de bureau" typeFourniture="bureau"></app-item-row>
<app-item-row itemName="Imprimante" typeFourniture="bureau"></app-item-row>


  
    </div>
    <div class="tab-content" [class.show]="activeTab === 4">
      
      <app-item-row itemName="Lit double" typeFourniture="chambre"></app-item-row>
      <app-item-row itemName="Lit simple" typeFourniture="chambre"></app-item-row>
      <app-item-row itemName="Table de chevet" typeFourniture="chambre"></app-item-row>
      <app-item-row itemName="Garde-robe" typeFourniture="chambre"></app-item-row>
      <app-item-row itemName="Coiffeuse" typeFourniture="chambre"></app-item-row>
   
    </div>
    <div class="tab-content" [class.show]="activeTab === 5">
      
      <app-item-row itemName="Meubles de rangement" typeFourniture="salle de bain"></app-item-row>
      <app-item-row itemName="Chaises salle à manger" typeFourniture="salle de bain"></app-item-row>
      <app-item-row itemName="Miroir" typeFourniture="salle de bain"></app-item-row>
      <app-item-row itemName="Baignoire" typeFourniture="salle de bain"></app-item-row>
      <app-item-row itemName="Lavabo" typeFourniture="salle de bain"></app-item-row>
      <app-item-row itemName="Tapis" typeFourniture="salle de bain"></app-item-row>

     
    </div>
    <div class="tab-content" [class.show]="activeTab === 6">
      <app-item-row itemName="Table de jardin" typeFourniture="jardin"></app-item-row>
      <app-item-row itemName="Chaises" typeFourniture="jardin"></app-item-row>
      <app-item-row itemName="Parasol" typeFourniture="jardin"></app-item-row>
      <app-item-row itemName="Banc" typeFourniture="jardin"></app-item-row>
      <app-item-row itemName="Barbecue" typeFourniture="jardin"></app-item-row>
      <app-item-row itemName="TapiVélos" typeFourniture="jardin"></app-item-row>

    </div>
  </div>


</div>

