<app-navbare></app-navbare>
<div class="container">
    <div class="form-section">
        <h2>Déménagez sans stress ! </h2>
        <form [formGroup]="initialForm" (ngSubmit)="onSubmit()">
            <div class="custom-select"  [class.open]="isOpen" (click)="toggleDropdown()">
                <label class="input1" for="input1">Que déménagez-vous ?</label>
                <span class="selected-option">{{ selectedOption?.label || 'Meubles et Électroménagers' }}</span>
                <ul class="custom-options" [class.open]="isOpen">
                  <li *ngFor="let option of dropdownOptions" (click)="onOptionSelected(option)">
                    <i [class]="option.iconClass"></i>
                    {{option.value}}
                  </li>
                </ul>
            </div>  
            <div class="row">
                
              <div class="column">
                  <label for="input3">Ville de départ</label>
                  <input type="text" id="input3" name="input3" placeholder="Oujda" formControlName="villeDepart">
                    <small *ngIf="initialForm.get('villeDepart')!.hasError('required') && (initialForm.get('villeDepart')!.dirty || initialForm.get('villeDepart')!.touched)" class="text-danger">Ville de départ is required</small>
              </div>
             
    
                <div class="column sec-col">
                  <label for="input4">Ville d'arrivée</label>
                  <input type="text" id="input4" name="input4" placeholder="Casablanca" formControlName="villeArrivee">
                  <small *ngIf="initialForm.get('villeArrivee')!.hasError('required') && (initialForm.get('villeArrivee')!.dirty || initialForm.get('villeArrivee')!.touched)" class="text-danger">Ville d'arrivée is required</small>
              </div>
    
            </div>
            <div class="row">
                
                <div class="column">
                    <label for="input3">Adresse de départ</label>
                    <input type="text" id="input3" name="input3" placeholder="Oujda hay el andalous" formControlName="adresseDepart">
                    <small *ngIf="initialForm.get('adresseDepart')!.hasError('required') && (initialForm.get('adresseDepart')!.dirty || initialForm.get('adresseDepart')!.touched)" class="text-danger">Adresse de départ is required</small>
                </div>
                  <div class="column sec-col">
                    <label for="input4">Adresse d'arrivée</label>
                    <input type="text" id="input4" name="input4" placeholder="Oujda sidi maafa"  formControlName="adresseArrivee">
                    <small *ngIf="initialForm.get('adresseArrivee')!.hasError('required') && (initialForm.get('adresseArrivee')!.dirty || initialForm.get('adresseArrivee')!.touched)" class="text-danger">Adresse d'arrivée is required</small>

                </div>

              </div>
            <button type="submit" (click)="navigateToNextComponent()" class="btn-devise">Obtenir un devis</button>
          </form> 
    </div>
      
    
        <div class="image-container">
            <img src="./../../../assets/landingPageImg.jpg" alt="#">
        </div>
    
</div>

