<div class="container">
    <div class="left">
        <i class="fa-solid fa-bell icon"></i>
    </div>
    <div class="center">
       
        <div class="center-right">
            <img [src]="'../../../assets/' + (transporteurInfo?.imageUrl ? getFileNameFromPath(transporteurInfo?.imageUrl) : '')" alt="">
        </div>
        <div class="center-left">
            <p class="name">{{transporteurInfo?.firstName}} {{transporteurInfo?.lastName}}</p>
            <!-- <p class="admin">admin</p> -->
        </div>
    </div>
    <!-- <div class="right">
        <i class="fa-solid fa-bars icon"></i>
    </div> -->
</div>