@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Prata&display=swap');

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // padding: 15px 40px;
    gap: 30px;
    margin-right: 10px;

}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:white;
    border-radius: 15px;
    padding: 2px 5px ;
    color: var(--primary_color);
}
.left{
    position: relative;
}

.center-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.center-right { 
    // width: 90px;
    // height: 55px;
    border-radius: 50%;
    // margin: auto;
    margin-top: 5px;

    .img{
        width: 63px;
        height: 68px;
        border-radius: 50%;

        // height: 58px;
    }
}
.icon{
    border-radius: 50%;
    border: var(--primary_color) 1px solid;
    padding: 5px;
    font-size: 22px;
    color: var(--primary_color);
}
.name{
    font-weight: bold;
    white-space: nowrap;
    // color: rgb(155, 155, 155);
    color: var(--primary_color);
    font-family:'Prata',serif;
    font-size: 17px;
    font-weight: 100;
    padding-left: -10px;
    font-weight: 300;
}

.admin{
    font-size: 13px;
    font-weight: 300;
    color: var(--primary_color);
}

.point{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary_color);
    position: absolute;
    top: 0;
    right: 0;
}
 
@media(max-width:400px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        // padding: 15px 40px;
        // gap: 30px;
        // margin-right: 10px;
        // margin-bottom: 150px !important;
    }
}