<div class="container">
    <h2 class="title">Paramètres</h2>

    <!-- ==================NON RESPONSIVE VERSION================= -->
    <div class="tab-container-non-responsive" *ngIf="isNonResponsive">
      <div class="tab-wrapper">
        <div class="tab" (click)="openTab(0)" [class.active]="activeTab === 0">
          Détails
        </div>
        <div class="tab" (click)="openTab(1)" [class.active]="activeTab === 1">
          Détails véhicule
        </div>
        <div class="tab" (click)="openTab(2)" [class.active]="activeTab === 2">
          Mot de passe
        </div>
        <div class="tab" (click)="openTab(3)" [class.active]="activeTab === 3">
          Paiement
        </div>
      </div>
  
      <div class="tab-content-wrapper">
        <div class="tab-content" [class.show]="activeTab === 0">
            <app-details></app-details>
        </div>
        <div class="tab-content" [class.show]="activeTab === 1">
            <app-details-vehicule></app-details-vehicule>
        </div>
        <div class="tab-content" [class.show]="activeTab === 2">
          <app-details-mot-de-passe></app-details-mot-de-passe>
        </div>
        <div class="tab-content" [class.show]="activeTab === 3">
          <app-details-paiment></app-details-paiment>
          
        </div>
      </div>
    </div>

    <!-- ==================RESPONSIVE VERSION====================== -->
    <div class="tab-container-responsive" *ngIf="!isNonResponsive">
      <div class="tab-select-wrapper">
        <select (change)="selectTabResponsive($event)">
          <option value="0">Détails </option>
          <option value="1">Détails véhicule</option>
          <option value="2">Mot de passe</option>
          <option value="3">Paiement</option>
        </select>
        <i class="fas fa-chevron-down"></i>
      </div>
  
      <div class="tab-content-wrapper">
        <div [class.show]="activeTab === 0" class="tab-content">
            <app-details></app-details>
        </div>
        <div [class.show]="activeTab === 1" class="tab-content">
          <!-- Tab 2 content -->
          <app-details-vehicule></app-details-vehicule>
        </div>
        <div [class.show]="activeTab === 2" class="tab-content">
          <!-- Tab 3 content -->
          <app-details-mot-de-passe></app-details-mot-de-passe>
        </div>
        <div [class.show]="activeTab === 3" class="tab-content">
          <!-- Tab 4 content -->
          <app-details-paiment></app-details-paiment>
        </div>
      </div>
    </div>
  </div>
  
  