<div class="main">
    <p class="sign" align="center">Sign in</p>
    <form [formGroup]="loginForm" class="form1">
        <input class="un" formControlName="email" type="text" align="center" placeholder="Your email">
        <!-- Display error message for email validation -->
       
        <!-- Display error message for required email -->
        <div *ngIf="loginForm.get('email')!.hasError('required') && (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)">
            <small class="text-danger">Email is required</small>
        </div>
        <div *ngIf="loginForm.get('email')!.hasError('email') && (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)">
            <small class="text-danger">Invalid email format</small>
        </div>

        <input class="pass" formControlName="password" type="password" align="center" placeholder="Your password">
        <!-- Display error message for password validation -->
        <div *ngIf="loginForm.get('password')!.hasError('required') && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)">
            <small class="text-danger">Password is required</small>
        </div>
        <!-- Display error message for minimum password length -->
        <div *ngIf="loginForm.get('password')!.hasError('minlength') && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)">
            <small class="text-danger">Password must be at least 6 characters long</small>
        </div>

        <a class="submit" align="center" (click)="loginUser()">Sign in</a>
        <p class="forgot" align="center"><a href="#">Forgot Password?</a></p>
    </form>
</div>
