<div class="container">
    <form [formGroup]="transporteurForm">
    <div class="content-wrapper">
        <div class=" first-row">
            <div class="left">
                <p class="title">Personal info</p>
                <p class="second-line">Update your photo and personal details here</p>
            </div>
            <div class="right right-btns">
                <button  class="btn btn-left">Cancel</button>
                <button  (click)="updateTransporteur()" class="btn btn-right">Save</button>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <p class="label">Name </p>
            </div>
            <div class="right righ-inputs">
                <input type="text"  class="half-input-left" placeholder="" formControlName="firstName">
                <input type="text" class="half-input-right" placeholder="" formControlName="lastName">
            </div>
        </div>
        <div class="row">
            <div class="left">
                <p class="label">Email</p>
            </div>
            <div class="right">
                <input type="text" class="input" placeholder="" formControlName = "email" [disabled]="true">
            </div>
        </div>
        <div class="row row-photo">
            <div class="left">
                <p class="label">Your photo</p>
                <p class="mini-label">This will be displayed in your profile</p>
            </div>
            <div class="center">
                <img [src]="userUploadedImageUrl ? userUploadedImageUrl : ('../../../assets/' + (transporteurInfo?.imageUrl ? getFileNameFromPath(transporteurInfo?.imageUrl) : 'defaultUser.jpeg'))" alt="">
                <!-- <img [src]="displayedImageUrl" alt=""> -->

            </div>
            <div class="right upload-image">
                <div class="content">
                    <div class="top">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                    </div>
                    <div class="bottom" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
                        <p><span>Click to upload </span>or drag and drop</p>
                        <input type="file"(change)="onFileChange($event)">
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <p class="label">City</p>
            </div>
            <div class="right">
                <input type="text" class="input" placeholder="" formControlName="city">
            </div>
        </div>
    </div>
    </form>
</div>