<div class="container">
    
    <div class="content-wrapper">
        <div class=" first-row">
            <div class="left">
                <p class="title">Personal info</p>
                <p class="second-line">Update your photo and personal details here</p>
            </div>
            <div class="right right-btns">
                <button  class="btn btn-left">Cancel</button>
                <button  class="btn btn-right">Save</button>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <p class="label">Name </p>
            </div>
            <div class="right righ-inputs">
                <input type="text"  class="half-input-left" placeholder="rim">
                <input type="text" class="half-input-right" placeholder="hassani">
            </div>
        </div>
        <div class="row">
            <div class="left">
                <p class="label">Email</p>
            </div>
            <div class="right">
                <input type="text" class="input" placeholder="hassaniidrissirim190@gmail.com">
            </div>
        </div>
        <div class="row row-photo">
            <div class="left">
                <p class="label">Your photo</p>
                <p class="mini-label">This will be displayed in your profile</p>
            </div>
            <div class="center">
                <img class="img" src="./../../../../assets/bugatti.jpg" alt="#">
            </div>
            <div class="right upload-image">
                <div class="content">
                    <div class="top">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                    </div>
                    <div class="bottom">
                        <p><span>Click to upload </span>or drag and drop</p>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <p class="label">City</p>
            </div>
            <div class="right">
                <input type="text" class="input" placeholder="fes">
            </div>
        </div>
    </div>
</div>