<nav class="navbar">
    <!-- LOGO -->
    <div class="logo">
        <img src="./../../../assets/logoWhite.png" class="logo-img" alt="#">
    </div>

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <!-- NAVIGATION MENUS -->
      <div class="menu">

        <li><a href="/">Service</a></li>
        <li><a href="/">A propos</a></li>
        <li class="services"><a href="/">Comment ça marche</a></li>

        <li><a href="/"><i class="fa-solid fa-user user-icon" ></i>Se connecter</a></li>
      </div>
    </ul>
  </nav>
