<app-navbare></app-navbare>

<div class="container">

<form  [formGroup]="demandeEntityForm" enctype="multipart/form-data" >
    <div class="grid-container">
        <div class="typeDem">
             <ng-container  *ngIf="selectedOptionService.selectedOption=== 'meubles_et_electromenagers'">
              <h2 class="title hidd">Inventaire</h2>
              <app-home-demenagement class="home"></app-home-demenagement>
             </ng-container>
             <ng-container *ngIf="selectedOptionService.selectedOption === 'voitures_et_autres_vehicules'">
              <h2 class="title"> Transport de voiture</h2>
              <app-voiture-demenagement (selectedOptionsEvent)="handleSelectedOptions($event)"></app-voiture-demenagement>
             </ng-container>  
             <ng-container class="moto-container" *ngIf="selectedOptionService.selectedOption === 'motos'">
              <img class="moto-img" src="./../../../../assets/moto (1).png" alt="">
              <h2 class="title moto-title"> Transport de moto</h2>
              <app-moto-demenagement (selectedOptionsEvent)="handleSelectedOptions($event)"></app-moto-demenagement>
             </ng-container>
             <ng-container class="colis" *ngIf="selectedOptionService.selectedOption === 'colis_et_objets_emballes'">
              <h2 class="title">Colis et objets emballes</h2>
              <p>Entrez les dimensions et le poids du colis que vous souhaitez transporter</p>
              <div #colisContainer class="colisContainer">
                <app-colis-objet-emballe-demenagement></app-colis-objet-emballe-demenagement>
                <i *ngIf="addedNewOne" class="fa-solid fa-xmark icon-x"></i>
              </div>
              <button class="btn-ajouter" (click)="createChildComponent()">Ajouter<i class="fa-solid fa-plus icon-add"></i></button>
             </ng-container>
        </div>
        <form [formGroup]="optionLogistiqueHomeForm">
        <div class="horaire-wrapper"  *ngIf="selectedOptionService.selectedOption=== 'meubles_et_electromenagers'">
          <h2 class="title title-horaire">Options logistiques</h2>
          <div class="section-wrapper">
              <div class="section enlevement">
                  <!-- Your "enlèvement" content here -->
                  <p class="title-sec">Enlèvement</p>
                  <input type="text" class="input"  placeholder="choisissez un type de propriété" formControlName="enlevementType" >
                  <input type="text" class="input"  placeholder="choisissez un étage" formControlName="enlevementEtage">
                  <div class="row-checkbox">
                  <input type="checkbox" formControlName="enlevementAvecSansAssenceur">
                  <p>Avec ascenseur</p>
                  </div>
              </div>
              <div class="section Livraison">
                  <!-- Your "livraison" content here -->
                  <p class="title-sec">Livraison</p>
                  <input type="text" class="input"  placeholder="chambre" formControlName = "livraisonType" >
                  <input type="text" class="input"  placeholder="choisissez un étage"  formControlName="livraisonEtage"> 
                  <div class="row-checkbox">
                  <input type="checkbox" formControlName="livraisonAvecSansAssenceur">
                  <p>Avec ascenseur</p>
                  </div>
              </div>
          </div>
          
      </div>
    </form>

        <div class="wrapper-photos-horaire">
          <div class="section photos">
            <!-- Your "photos" content here -->
            <h2 class="horaire-title title">Horaire</h2>
            <input class="horaire" type="date" formControlName="horaire">
            <h2 class="title">Instructions spéciales</h2>
           
            <input class="info-spec" type="text" placeholder="entrez vos informations spéciales" >

            <h2 class="title">Ajouter des photos</h2>
            <div class="photo-donwload">
              <div class="photo">
                <i class="fa-solid fa-image"></i>
                <p>Glissez la photo ici</p>
                <a href="#">Télécharger</a>
                <input type="file" (change)="onFileChange($event, 'first')"  >
              </div>
              <div class="photo">
                <i class="fa-solid fa-image"></i>
                <p>Glissez la photo ici</p>
                <a href="#">Télécharger</a>
                <input type="file" (change)="onFileChange($event, 'second')"  >
              </div>
              <div class="photo">
                <i class="fa-solid fa-image"></i>
                <p>Glissez la photo ici</p>
                <a href="#">Télécharger</a>
                <input type="file" (change)="onFileChange($event, 'third')"  >
              </div>
            </div>
          </div>
        </div>
        <div class="map-container">
          <!-- Your map content here -->
          <div id="map"></div>
          <div class="details">
            <div class="depart">
              <h2>De</h2>
              <p>Oujda hay el andalous</p>
            </div>
            <div class="line"></div>
            <div class="arrivée">
              <h2>A</h2>
              <p>casablanca maarif</p>
            </div>
            <p class="totalTraject">{{ distance ? distance.toFixed(2) : 'N/A' }}</p>

          </div>
        </div>
    
        
    
        
      </div>
      <button class="btn-devis" type="submit" (click) = "addDemande()" >Recevoir des devis</button>
    </form>
</div>
<!-- =========this needs to be put back in the button -->
<!--  -->
