//============THE LAYOUT GRID
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  position: relative;
  background-color: #f8f8f8;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "containerHome map"
    "OptionsLogistique ."
    "photos  .";
  grid-template-columns: 65% 35%;
  grid-template-rows: auto auto auto;
  gap: 45px;
  margin-left: 40% !important;
  margin: 20px !important;
  width: 85%;
}


.typeDem {
  grid-area: containerHome;
  background-color: white;
  border-radius: 10px;
  padding-left: 40px;
  padding-top: 10px;
  height: fit-content;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.type-demenagement {
  width: 100%;
}

.horaire-wrapper {
  grid-area: OptionsLogistique;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;


}

.map-container {
  grid-area: map;
  border-radius: 10px;
  background-color: var(--primary_color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: var(--primary_color);
  height: fit-content;
  padding-bottom: 30px;

  background-color: white;
}

.wrapper-photos-horaire {
  margin-top: 30px;
  padding: 0 20px;
  grid-area: photos;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  border-radius: 10px;
  .section{
    padding-top: 0;
    .title{
      padding-top: 25px;
    }
    .info-spec{
      border-radius: 10px;
      border: 1px solid var(--gray_color);
      padding-left: 10px;
    }
  }
}

//==================END OF THE LAYOUT STYLE


.hidd {
  visibility: hidden;
}


.map {
  grid-area: map;
  object-fit: contain;
  width: 100%;
  height: 55%;

}

.details {
  margin-left: 5%;

  .depart,
  .arrivée {
    h2 {
      color: var(--secondary_color);
    }

    p {
      color: #999;
    }

  }



  .line {
    margin-top: 10px;
    width: 300px;
    height: 1px;
    margin-left: 40px;
    background-color: white;
    margin-top: 40px;
  }

  .totalTraject {
    font-size: 25px;
    text-align: center ;
    margin: auto;
    margin-top: 25px;
    width: fit-content;
    padding: 12px 18px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--light-blue);
  }
}

.wrapper-photos-horaire {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.section {
  margin-left: 20px;
}

.title {
  color: var(--secondary_color);
  text-decoration: underline;
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 8px;

}

.horaire {
  width: 50%;
  height: 50px;
  border: 1px solid var(--gray_color);
  padding: 5px 12px;
  border-radius: 10px;
}

.info-spec {
  width: 50%;
  border-radius: 9px;
  height: 50px;
  border: 1px solid var(--primary_color);

}

input::placeholder {
  color: #999;
  font-style: italic;
  padding-left: 10px;
}

.photo-donwload {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 25px;

  a {
    color: var(--primary_color);
  }
}

.photo {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   gap: 10px;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  padding: 15px 35px;
 
  .fa-image{
    margin-top: 8px;
    font-size: 40px;
    color: var(--gray_color);
  }
  p{
    color: var(--gray_color);
  }
  label{
    .fa-camera{
         color: var(--light-blue);
         font-size: 22px;
         padding: 8px;
         border: 1px solid var(--primary_color);
         border-radius: 50%;
         
    }
    .fa-camera:hover{
      background-color: var(--primary_color);
      color: white;
    }
  }
  .hidden-input {
    display: none;
  }
}


//==========HORAIRE





.horaire-wrapper {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 40px;
  padding-left: 20px;

  .section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -40px;
  }

}

.title-horaire {
  
  padding-top: 17px;
   padding-left: 20px;
  // padding-bottom: -15px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px ;

  .title-sec {
    // font-family: 'Prata', serif;
    font-size: 17px;
    margin-bottom: 8px;

  }
  input {
    outline: none;
  }
}

.input {
  width: 200px;
  height: 40px;
  margin-bottom: 7px;

}

.enlevement,.Livraison{
  .title-sec{
    color: var(--primary_color);
    font-weight: 500;
  }
  .input{
    width: 235px;
    padding: 0 5px;
    margin-bottom: 12px;
    border:1px solid var(--gray_color) ;
    border-radius: 5px;
  }
  p{
    color: rgb(139, 139, 139);

  }
  
}

.row-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  input {
    margin-right: 5px;
  }
}

.btn-devis {
  padding: 15px 45px;
  background-color: var(--primary_color);
  color: white;
  border: none;
  font-size: 16px;
   margin-left: 18%;
  margin-top: 25px;
  border-radius: 35px;
  margin-bottom: 100px !important;
  // margin-right: 3%;
  cursor: pointer;
 
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.2);

}
.btn-devis:hover{
  background-color: var(--light-blue);
}

.btn-ajouter {
  background-color: var(--primary_color);
  color: white;
  padding: 15px;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.icon-add {
  margin-left: 10px;
}

.colis {
  padding-bottom: 20px;
}

.colisContainer {
  padding-bottom: 20px;
}

.icon-x {
  font-size: 20px;
  position: absolute;
  top: 0px;
  right: 50px;

}

.colis-child {
  position: relative;

}

.moto-container {
  position: relative;
}

.moto-img {
  position: absolute;
  top: 42px;
  width: 40px;
}

.moto-title {
  padding-left: 40px;
}



.text-danger {
  color: red;

  margin-bottom: 5px !important;
  // margin-bottom: 20px !important;

}

// =================MAP leaflet============

#map {
  height: 180px;
}

.horaire-not-home{
  margin-top: -90px !important;
}

@media (max-width: 900px) {
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(249, 250, 250);
  }

  .grid-container {


    display: grid;
    grid-template-areas:
      "containerHome"
      "OptionsLogistique"
      "photos"
      "map";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;


  }

  .map {
    width: 100%;
    height: 40%;
  }

  .btn-ajouter {
    background-color: var(--primary_color);
    color: white;
    padding: 15px;
    border: none;
    padding-bottom: 20px;
  }

  .icon-add {
    margin-left: 10px;
  }

  .colis {
    padding-bottom: 20px;
  }
  
.horaire-not-home{
  margin-top: 0px !important;
}




}



@media (max-width: 600px) {

  .photo-donwload {
    display: flex;
    flex-direction: column;
    gap: 100px;
    flex-wrap: wrap;
    margin-bottom: 20px;

    width: 30%;

    a {
      color: var(--primary_color);
    }
  }

  .section-wrapper {
    display: flex;
    flex-direction: column !important;
}
}