  //============THE LAYOUT GRID
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    position: relative;

  }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      "containerHome map"
      "OptionsLogistique ."
      "photos  .";
    grid-template-columns: 70% 30%; 
    grid-template-rows: auto auto auto; 
    gap: 20px;
    margin-left: 40% !important;
    margin: 20px !important;
    width: 80%;
  }

  
  .typeDem{
    grid-area: containerHome;
    background-color: white;
    padding-left: 40px;
    padding-top: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  }
  .type-demenagement{
    width: 100%;
  }
  
  .horaire-wrapper{
    grid-area: OptionsLogistique;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;    

    
}

.map-container{
    grid-area: map;
    background-color: var(--primary_color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: var(--primary_color);
    height: fit-content;
    padding-bottom: 30px;
  
    background-color: white;    
  }
    
  .wrapper-photos-horaire {
    margin-top: 30px;
    grid-area: photos;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;    

  }
  
//==================END OF THE LAYOUT STYLE
  




.map {
    grid-area: map;
    object-fit: contain;
    width: 100%;
    height: 55%;
  
  }
  
  .details{
    margin-left: 5%;
  
    .line{
      margin-top: 10px;
      width: 300px;
      height: 1px;
      margin-left: 40px;
      background-color: white;
      margin-top: 40px;
    }
  
    .totalTraject{
      font-size: 30px;
      margin-top: 25px;
      
    }
  }
  
  .wrapper-photos-horaire{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .section{
    margin-left: 20px;
  }
  
  .title{
    color: var(--primary_color);
    font-family:'Prata',serif;
    margin-bottom: 7px;
    font-size: 27px;
    font-weight: 200;
        margin-bottom: 7px;
    font-size: 27px;
    font-weight: 200;
    margin-bottom: 20px;
    margin-top: 8px;
}
  
  .horaire{
    width: 150px;
    height: 50px;
  
  }
  
  .info-spec{
    width: 60%;
    border-radius: 9px;
    height: 50px;
    border:1px solid var(--primary_color);
  
  }
  input::placeholder {
    color: #999; 
    font-style: italic; 
    padding-left: 10px;
  }
  .photo-donwload{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
    align-items: center;
    flex-wrap: wrap;
    // margin-left: -40px;
    margin-bottom: 20px;
  
    a{
      color: var(--primary_color);
    }
  }
  
  .photo{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    width: 170px;
    height: 170px;
  }
  
  
  //==========HORAIRE
  
  
  
  
  
  .horaire-wrapper{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 40px;
    padding-left: 20px;
    .section-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
 
  }
  
  .title-horaire{
    color: var(--primary_color);
    font-family:'Prata',serif;
    padding-top: 17px;
      padding-left: 20px;
      padding-bottom: -15px;
  }
  
  .section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px !important;
    .title-sec{
      font-family:'Prata',serif;
      font-size: 20px;
    }
  }
  
  .input{
    width: 200px;
    height: 40px;
    margin-bottom: 7px;
    
  }
  .row-checkbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
    input{
      margin-right: 5px;
    }
  }
  
  .btn-devis{
    padding: 25px 55px;
    background-color: var(--primary_color);
    color: white;
    border: none;
    font-size: 20px;
    margin-left: 7%;
    margin-bottom:150px !important;
    margin-right: 3%;
    cursor: pointer;
  }

.btn-ajouter{
  background-color: var(--primary_color);
  color: white;
  padding: 15px;
  border: none;
}
.icon-add{
  margin-left: 10px;
}


  @media (max-width: 900px) {
    .container{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgb(249, 250, 250);
    }
    .grid-container {
      
       
      display: grid;
      grid-template-areas:
        "containerHome"
        "OptionsLogistique"
        "photos"
        "map";
      grid-template-columns: 1fr; 
      grid-template-rows: auto 1fr auto;
      gap: 10px;
     

    }
    .map{
      width: 100%;
      height: 40%;
    }
   
 }



  @media (max-width: 600px) {
    
      .photo-donwload{
        display: flex;
        flex-direction: column;
        gap: 100px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        width: 30%;
      
        a{
          color: var(--primary_color);
        }
      }
      .section-wrapper{
        display: flex;
        flex-direction: column !important;
      }
  }
  