/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Merriweather+Sans:wght@500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
//colors

:root {
  --primary_color: #348888;
  --secondary_color: #BF7E78;
  --gray_color: #C5C5C6;
  overflow-x: hidden;
}

$primary_color: #348888;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  body {
    font-family: 'poppins',sans-serif;
    height: fit-content;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

