/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Merriweather+Sans:wght@500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
//colors
// 1982c4

// DE8971
// E97777
:root {
  --primary_color: #2596be;
  --light-blue:#8ecae6;
  --secondary_color: #FF6969;
  --gray_color: #C5C5C6;
   overflow-x: hidden;
}
$primary_color: #348888;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  body {
    font-family: 'poppins',sans-serif;
    height: fit-content;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

