.container {
    width: 100%;
}

.top-section {
    height: 250px;
    position: relative;
    overflow: hidden;
}

.img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
}

.estimePrice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-family: 'Pacifico', sans-serif;
    line-height: 1.7;
    background: rgba(52, 136, 136, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px 25px;
    white-space: nowrap;
}

.container-content {
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.content-section {
    width: 100%;
    display: grid;
    justify-items: center; 
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); 
    gap: 20px;
    margin-top: 30px;
    max-width: 1400px; 
}

.card {
    max-width:  290px;
    min-height: 350px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    height: 100%;
    border-radius: 15px;
    
}

.card-header {
    height: 70%;
}

.image-honda {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card-body {
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.name {
    color: var(--primary_color);
    font-weight: bold;
}

.rating {
    color: orange;
    margin-right: 5px;
}

.price {
    font-weight: bold;
}

.btn-book {
    padding: 10px 30px;
    background-color: var(--primary_color);
    color: white;
    border-radius: 7px;
}

.imgheader{
    width: 100%;
    height: 90%;
}

@media (max-width: 870px) {
    .estimePrice {
        font-size: 20px;
        padding: 12px 22px;
    }
}

@media (max-width: 600px) {
    .estimePrice {
        font-size: 14px;
        padding: 8px 15px;
    }
}
