<div class="container">
    <div class="form-section">
      <h2>Déménagez sans stress !</h2>
      <form>
        <div>
            <label for="input1">Que déménagez-vous ?</label>
            <input type="text" id="input1" name="input1" placeholder="Que déménagez-vous ?">
        </div>
        <div class="row">
            <div>
            <label for="input3">Adresse de départ</label>
            <input type="text" id="input3" name="input3" placeholder="Adresse de départ">
            </div>

            <div>
            <label for="input4">Adresse de départ</label>
            <input type="text" id="input4" name="input4" placeholder="Adresse d'arrivée">
            </div>
        </div>
        <div class="row row-col">
            <div>
                <label for="input3">Etage de départ</label>
                <input type="text" id="input3" name="input3" placeholder="Etage de départ">
                
                <div class="column ">
                    <input type="checkbox" class="check">
                    <label for="input3">Avec assenceur</label>    
                </div>
            </div>

            <div>
                <label for="input4">Etage d'arrivée</label>
                <input type="text" id="input4" name="input4" placeholder="Etage d'arrivée">
                <div class="column">
                    <input type="checkbox" class="check teste">
                    <label for="input3" class="assen">Avec assenceur</label>
                </div>
            </div>
        </div>
     
        <div class="row row-horaire" >
            <div>
                <label for="input4">Enrez l'horaire</label>
                <input type="date" id="input4" name="input4" placeholder="Entrez l'horaire">
            </div>
        </div>

        <div class="row row-per">
            <div class="column">
                <input type="checkbox" class="check">
                <label for="input3">2 personnes</label>
            </div>

            
        </div>
        <button type="submit" class="btn-devise">Obtenir un devis</button>
      </form>
    </div>

    <div class="image-section">
      <img src="./../../../assets/truckGreen.png" alt="Image de déménagement">
    </div>
  </div>