.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    color: black;
    font-weight: 100;
    font-size: 15px;
}
  
.form-section {
    padding: 20px;
    min-height:70vh;
    min-width: 550px;
    margin: 15px;
    margin-top: 35px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    width: 50%;
    
    margin-left: -100px;


        h2{
            font-style: italic;
            color: var(--secondary_color);
            margin-left: 30%;
        }


        form {
            // max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            font-weight: 200;

        }

        /* Apply general styles to all labels and inputs */
        form div {
            margin-bottom: 10px;
        }
        
        label {
            display: block;
            margin-bottom: 8px;
        }
        
        input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        input::placeholder {
            color: var(--gray_color); /* Replace "red" with your desired color */
          }
          
        
        /* Style the row containing Text 3 and Text 4 inputs */
        .row {
            display: flex;
            justify-content: space-between;
            

            .column{
                display: flex;
                flex-direction: row;
                justify-content: start;
                width: auto;
                // margin-top: -15px !important;
                // margin-left: -5px;
                color: var(--gray_color);

                input{
                    width: auto;
                    margin-top: -10px;
                }
            }
            // .columnAssenceur{
            //     margin-right: 190px !important;
            // }
        }
       
        /* Adjust the width of Text 3 and Text 4 inputs */
        .row div {
            width: 48%;
        }
        
        /* Apply additional styles to the form if needed */
      .row-horaire{
        margin-top: -20px;
      }
      .row-per{
        margin-top: -7px;
      }
  
  }

  .row-col{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

  .check{
    margin-right: 8px;
  }
  
 
  .image-section{
    width: 30%;
}
  
  .image-section img {
    width: 450px;
    height: auto;
}

.btn-devise{
    background-color: var(--secondary_color);
     padding:15px;
    width: 300px !important;
    color: white;
    border: none;
    border-radius: 10px;
    white-space: nowrap;
    margin:auto !important;
    margin-left: 27% !important;
    cursor: pointer;
    font-size: 16px;
}
   /* Masquer l'image sur les petits écrans (max-width de 768 pixels) */
   @media (max-width: 904px) {
    .container{
        margin-top: 15px;
    }
    .image-section {
      display: none;
    }
    .form-section{
        max-width: 70%;
        margin: auto !important;
        min-width: 90%;

    }
  }
  @media (max-width: 604px) {
    .form-section{
        max-width: 60%;
        margin: auto !important;

    .row{
        display: flex;
        flex-direction: column;
    }
}
  }
