.content{
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: 10px;
}
.row{
    display: flex;
    // justify-content: center;
    align-items: center;
}

.firstCol{
    color: var(--primary_color);
    width: 60px;
}