.container{
    width: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}