<div class="container">
    <div class="header">
        <div class="horaire">
            horaire
        </div>
        <div class="takenFrom">
            départ
        </div>
        <div class="deliverTo">
            arrivée
        </div>
        <div class="typeOfDelivery">
            type de livraison
        </div>
    </div>
    <div class="list">
        <div class="item">
            <div class="horaire-item">23/08/2023</div>
            <div class="takenFrom-item">Oujda hay el andalous</div>
            <div class="deliverTo-item">saidia</div>
            <div class="typeOfDelivery-item">appartement</div>
        </div>
    </div>
</div>